APP_NAME=VAULT
COORDINATOR_HOST=0.0.0.0
COORDINATOR_PORT=8000
NODE_HOST=127.0.0.1
NODE_COUNT=8
NODE_START_PORT=8101
NODE_BASE_URL=http://127.0.0.1
DB_PATH=./data/vault.db
DATA_ROOT=./data
CHUNK_SIZE_BYTES=8388608
MAX_UPLOAD_BYTES=536870912
DEFAULT_REPLICATION_FACTOR=3
DEFAULT_WRITE_QUORUM=2
DEFAULT_READ_QUORUM=1
HEARTBEAT_INTERVAL=2
FAILURE_TIMEOUT=6
REPAIR_INTERVAL=3
REBALANCE_INTERVAL=20
INTEGRITY_INTERVAL=30
REBALANCE_THRESHOLD=0.15
HTTP_TIMEOUT=5
CORS_ORIGINS=*
